# 가상환경
venv/

# 파이썬 캐시
__pycache__/
*.py[cod]
*.pyo

# 에디터/OS 관련
.DS_Store
.vscode/

# DB 파일 (로컬 sqlite용 — 사용하지 않아도 예외 처리용)
*.sqlite3
db.sqlite3

# 환경 변수
back/.env
back/settings.py
back/core/schema.py

# staticfiles (collectstatic 후 생성되는 폴더)
staticfiles/

# 로그 및 기타
*.log
*.pot
*.pyc
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
